.product
{
    display: flex; flex-direction: column;
    padding: 1rem;
    margin: 0.5rem;
    height: 15rem;
    width: 20rem;
    border-radius: 0.1rem;
    background-color: white;
}
.product-div1
{
    display: flex;
}
.product-div2
{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.product-details
{
    padding-left: 1rem;
    max-width: 10rem; 
}
.product-details>p
{
    margin-top: 0.5rem; max-height: 5rem;
}
.p1
{
    overflow-y: auto;
    overflow-x: hidden;
}
.product-image
{
    height:  10rem;
    object-fit: contain;
}
.flipkart-button
{
    padding: 0.3rem;
    width: 10rem;
    border-radius: 0.5rem;
    background-color: #2874f0;
    color: white;
    position: relative;
    justify-self: baseline;
    cursor: pointer;
}
.flipkart-button:hover
{
    background-color: #4d91ff;
}
.flipkart-button:active
{
    background-color: #2874f0;
}