.product
{
    display: flex;
    padding: 0.1rem;
    margin: 0.1rem;
    background-color: white;
}
.product-details
{
    padding: 0.5rem;
}
.product-image
{
    height:  6rem;
    object-fit: contain;
}